html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    cursor: url("cursor.cur"), default;
}
dialog {

	left: 150px;
	top: 100px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	border-top: 5px solid #FFFFFF;
	width: 800px;
	height: 650px;
	background-color: #CCCCCC;
	overflow:hidden;
	transition: all 1s ease;
}

dialog:hover {
	background-color: #FFFFFF;
}

#editDialog {
    left: 0px;
    top: 0px;
    width: 400px;
    height: 150px;
}

.inventoryContainer {
    width: 50%;
    float: left;
}

#inventoryItemsTable {
    top: 50px;
}

td {
    width: 25%;
}

#uiBar {
	width: 100%;
	height: 150px;
	background: #7F6534;
	color: black;
	display: inline-block;
	float: right;
	margin: 0 auto;
}

.uiTabs {
	width: 20%;
	height: 100%;
	color: white;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	display: inline-block;
}

#consoleTab {
	background: #7F6534;
}

#selectedTab {
	background: #7F735A;
}

#saveTab {
	background: #CCA253;
}

#commandTab {
	background: #CCA253;
}
